{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password, { "attr": { "required": membre.id is null } }) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
