{% extends 'base.html.twig' %}

{% block title %}Liste  Detail{% endblock %}

{% block body %}
    <h1>Liste  Detail</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail in details %}
            <tr>
                <td>{{ detail.id }}</td>
                <td>{{ detail.quantite }}</td>
                <td>{{ detail.prix }}</td>
                <td>
                    <a href="{{ path('detail_show', {'id': detail.id}) }}"><i class="fa fa-file"></i></a>
                    <a href="{{ path('detail_edit', {'id': detail.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('detail_new') }}">Créer</a>
{% endblock %}
