<div class="card" style="margin-right: 0;margin-left: 0;">
    <img class="vignette card-img-top mx-auto" src="{{ asset("images/" ~ produit.photo ) }}" alt="{{ produit.titre }}">
    <div class="card-body">
        <h5 class="card-title">Nom : {{ produit.titre }}</h5>
        <p class="card-text">Référence : {{ produit.reference }}</p>
        <p class="card-text">Catégorie : {{ produit.categorie }}</p>
        <p class="card-text">Prix : {{ produit.prix }} €</p>
        <p class="card-text">Stock : {{ produit.stock }}</p>
        <a href="{{ path("fiche_produit", { reference: produit.reference }) }}" class="btn btn-primary">Voir</a>
        
        <form method="GET" action="{{ path("ajouter_panier", { id: produit.id }) }}" class="mt-2">
            <input type="number" name="qte" value=1 min=1 max={{ produit.stock }}>
            <button class="btn btn-info">
                <i class="fa fa-cart-plus"></i>
            </button>
        </form>
    </div>
</div>
