{% extends 'base.html.twig' %}

{% block title %}Liste  Commande{% endblock %}

{% block body %}
    <h1>Liste  Commande</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Etat</th>
                <th>Date_enregistrement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.montant }}</td>
                <td>{{ commande.etat }}</td>
                <td>{{ commande.dateEnregistrement ? commande.dateEnregistrement|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('commande_show', {'id': commande.id}) }}"><i class="fa fa-file"></i></a>
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_new') }}">Créer</a>
{% endblock %}
